/*COMMENT HERE*/

html {
	background-image: url("../img/brick.jpg");
	background-color: #8B4513;
	background-size: cover;
}

.beanstalkimage {
	opacity: .5;
	height: .2em;
	width: .2em;
}

.gameName {
	border: none;
	padding: .5em 1em;
	padding-bottom: 0;
	margin: .5em .5em;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-weight: bolder;
	font-size: 3em;
}

.canYouGuess {
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 2em;
	padding: 0 0;
	margin: 0;
}

.inputNumber {
	max-width: 30em;
	background-image: url("../img/wood.jpg");
	background-size: 65%;
	padding: 2em 2em;
	border: none;
	border-radius: 10%;
	border-style: none;
	border-color: blue;
	margin: 1em 40%;
	text-align: center;
	box-shadow: .3em .3em brown;
}

.enterNumber {
	height: 3em;
}

button {
	margin: .5em 1em;
	padding: .5em .5em;
	margin-top: 3em;
}

button:hover{

}