
@media screen and (max-width: 980px) {

	html {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}



	form {
		margin: 0 1.4em;
		margin-bottom: 10em;
	}


	.inputNumber {
		width: 20em;
		height: 15em;
		margin: 2em 20%;

	}


}


@media screen and (max-width: 480px) {
	html {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.beanstalkimage {
		display: block;
		padding-bottom: 5em;
	}

	.gameName {
		padding-top: 2.3em;
		font-size: .9em;
	}

	.canYouGuess {
		font-size: .8em;
		margin-bottom: 5em;
	}

	form {
		margin: 0 1.4em;
		margin-bottom: 5em;
	}

	.inputNumber {
		width: 11em;
		height: 6.5em;
		margin: 2em 10%;

	}

	#enteredNumber {
		height: 2em;
		margin-bottom: 2em;
	}

	#enteredNumber-vs-number{
		font-size: 1em;
	}

	#enteredNumber-vs-guess {
		font-size: 1em;
	}

	button {
		margin: .5em .1em;
		padding: .2em .2em;
	}


}




